/*********************提示颜色***********************/
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
/*********************文字颜色***********************/
$color-main: #303133; //主要
$color-normal: #606266; //常规
$color-minor: #909399; //次要
$color-holder: #c0c4cc; //占位
/*********************边框颜色***********************/
$color-border-1: #dcdfe6;
$color-border-2: #e4e7ed;
$color-border-3: #ebeef5;
$color-border-4: #f2f6fc;
/*********************主题颜色***********************/
$color-theme:#ffd04b;
$color-aside:#304156;

$main-height:calc(100vh - 125px);


%ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

%mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin flex($type: center) {
  display: flex;
  justify-content: $type;
  align-items: center;
}

@mixin radius($radius: 4px) {
  border-radius: $radius;
}

/*********************动画***********************/
@keyframes slide-in {
  0% {
    opacity: 0.2;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
  100% {
    opacity: 0.2;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes move-in {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes move-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}


