* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#app {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  .title{
    font-size: 22px;
  }
}
.table-wrap{
  width: 100%;
  height: 100%;
  &+.table-wrap{
    margin-top: 20px;
  }
}

.btn-plain{
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 3px;
  color: #69a6e5;
  border: 1px dashed #69a6e5;
  &:hover{
    color: #99cbff;
    border-color: #99cbff;
    cursor: pointer;
  }
  & +.btn-plain{
    margin-top: 10px;
  }
  i{
    margin-right: 5px;
  }
}

